h1 {
  margin-left: 40%;
  color: orange;
}
.main {
  display: flex;
  size: 50%;
}
.section {
  margin-top: 20%;
}

.jar {
  margin-left: 40%;
}
.commentTitle {
  font-size: 200%;
  padding-bottom: 2%;
}
